.blogPage_container {
  display: flex;
  background-color: #f4f4f4;
  padding: 2% 3%;
  height: 88vh;

  section:first-of-type {
    flex-basis: 35%;
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    position: relative;

    .inputContainer {
      position: relative;
      width: 100%;
      height: 5rem;

      input {
        height: 100%;
        width: 100%;
        border-radius: 4rem;
        padding: 1rem 4rem;
        border: 1px solid rgba(111, 111, 111, 0.2);
        background-color: #f4f4f4;
        font-size: 1.4rem;

        &::placeholder {
          color: #9f9f9f;
          font-size: 1.4rem;
        }
      }

      &::after {
        content: url(../../assets/images/searchIcon.svg);
        stroke: rgba(96, 164, 135, 1);
        position: absolute;
        top: 50%;
        left: 1.7rem;
        transform: translateY(-50%);
      }
    }

    .blogFilter_container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin: 2rem 0;

      div:first-of-type {
        width: 100%;
        height: 5rem;
        .ant-select-selector {
          border: none;
          padding: 1rem;
          background-color: #f0f0f0;

          &:hover {
            background-color: white;
          }

          &:focus-within {
            box-shadow: 0 0 2px #6f6f6f33;
            background-color: white;
          }
        }
        .ant-space-item {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  section:nth-of-type(2) {
    overflow-y: scroll;
    scrollbar-width: none;
    flex-basis: 65%;

    & > div:first-of-type {
      display: grid;
      gap: 1rem;
      margin: 0 2rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    & > div:last-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }
  }
}

.topBlogs_container {
  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0 2rem 0;
    color: #383737;
  }

  article {
    overflow-y: scroll;
    max-height: 20vw;
    scrollbar-width: none;
    background-color: #fcfcfc;
    & > div {
      padding: 1.5rem 0.5rem;
      border-bottom: 1px solid #e8e8e8;
      padding: 1.5rem;
      transition: box-shadow 0.2s ease-in;

      h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 400;
        /* color: #383737; */
      }
      p {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.1rem;
        /* color: #383737; */
      }

      &:hover {
        box-shadow:
          rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }
    }
  }
}

@media screen and (max-width: 1610px) {
  .blogPage_container {
    section:first-of-type {
      .blogFilter_container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .blogPage_container {
    flex-direction: column;
    height: auto;
  }

  .topBlogs_container {
    h1 {
      margin-left: 2rem;
    }
    article {
      display: flex;
      gap: 2rem;
      height: auto;
      width: 100vw;
      overflow-x: scroll;
      scrollbar-width: none;

      & > div {
        min-width: 80%;
        border-bottom: none;
        background-color: #ad3f38;
        color: white;
        padding: 2rem;
        border-radius: 0.4rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .blogPage_container section:nth-of-type(2) {
    & > div:first-of-type {
      margin: 0;
    }
    .ant-picker-input input {
      pointer-events: none;
    }
  }
}
