/* ----------------------------------------------------------------- */
.form-container {
  padding: 1.5rem;
  background-color: #f9fafb;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.form-date {
  color: #6b7280;
}

.form-fields {
  flex: 1;
  & > article:first-of-type {
    display: flex;
    gap: 2rem;
    & > div:first-of-type {
      flex-basis: 80%;
    }
    & > div:nth-of-type(2) {
      flex-basis: 20%;
    }
  }

  & > article:nth-of-type(2) {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    & > div:first-of-type {
      flex-grow: 1;
    }
    & > div:nth-of-type(2) {
      gap: 2rem;
      & > div {
        display: flex;
        min-width: 5rem;
      }
    }
  }

  & > article:nth-of-type(3) {
    margin: 2rem 0;
  }
}

.form-container h2 {
  color: #383737;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .form-container {
    margin-top: 5rem;
  }
}
