.slideshow {
  display: flex;
  gap: 20px; /* Add space between thumbnails and main image */
}

.thumbnails-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slideshow-thumbnails {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.slideshow-thumbnails.active {
  opacity: 1; /* Highlight the active thumbnail */
}

#slideshow-items-container {
  flex-grow: 1;
  width: 60rem;
  height: 96rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
