.ant-picker-input {
  padding: 1rem;
  width: 50% !important;
}

.ant-picker-range {
  background-color: #f0f0f0;
  border: none;
}

.ant-picker-active-bar {
  background-color: #ad3f38 !important;
}
.ant-picker-outlined:focus-within {
  box-shadow: 0 0 2px #6f6f6f33;
}
