.authTemplate_container {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  height: 100vh;
}

.authTemplate_container > section:first-of-type {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  article {
    background-color: white;
    padding: 4rem;
    border-radius: 0.6rem;
    width: 70%;
    text-align: center;

    & div {
      figure {
        margin-bottom: 1rem;
      }

      & > h2 {
        font-size: 2.4rem;
        font-weight: 700;
      }

      & > h3 {
        font-size: 1.4rem;
        font-weight: 400;
        color: #788ba5;
        margin: 1.5rem auto 2.4rem;
      }
    }
  }
  & > p {
    text-align: center;
    margin: 2.4rem auto;
    width: 70%;
    font-size: 1.4rem;

    & > span {
      color: #60a487;
      cursor: pointer;
    }
  }
}

.authTemplate_container > section:first-of-type article form {
  margin-inline: auto;
  & div > div label {
    display: block;
    text-align: start;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  & div > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  & div > div input,
  & div > div select {
    padding: 1.2rem 1.4rem;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid #dee4ed;
  }

  & div:last-of-type {
    button {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      background-color: #60a487;
      border: 1px solid #60a487;
      width: 100%;
      color: white;
      border-radius: 0.6rem;
    }
  }

  & > p:last-of-type {
    margin: 1rem auto 2rem;
  }
}

.otp_inputBox {
  & div:first-of-type {
    flex-direction: row !important;
    & > input {
      width: 5.3rem !important;
    }

    & > div {
      margin-bottom: 0 !important;
    }
  }
}

.hideIt {
  display: none;
  border: 1px solid red;
}

.authTemplate_container > section:nth-of-type(2) {
  background-image: url("../../assets/images/loginImg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.resendBtn {
  border: none;
  margin: 1rem auto 2rem;
  background-color: white;
  color: #60a487;
}

@media screen and (max-width: 1400px) {
  .authTemplate_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .authTemplate_container section:nth-of-type(2) {
    display: none;
  }

  .authTemplate_container section:first-of-type {
    article {
      z-index: 65;
    }
  }
}

@media screen and (max-width: 768px) {
  .authTemplate_container > section:first-of-type {
    article {
      width: 85%;
      padding: 2rem;
    }
  }
}
