.image-cell img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-right: 8px;
}

.stock-cell {
  color: green;
  font-weight: bold;
}

.out-stock-cell {
  color: red;
  font-weight: bold;
}

.action-icons {
  display: flex;
  gap: 8px;
}

.edit-icon {
  cursor: pointer;
  color: blue;
}

.delete-icon {
  cursor: pointer;
  color: red;
}

.ag-center-cols-viewport {
  min-height: 100% !important;
}

.ag-layout-auto-height {
  min-height: 4rem !important;
}
