.product_container {
  padding: 2% 5%;

  & > div:nth-of-type(1) {
    .ant-breadcrumb-link span {
      font-size: 1.4rem;
      color: #6d001d !important;
    }

    nav {
      margin-bottom: 2rem;
    }

    span {
      font-size: 2rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  & > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.product_details_header {
  margin: 0 2.5rem;

  div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2.4rem;
      font-weight: 600;
      height: max-content;
    }

    h1 + div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    div {
      position: relative;
    }
  }

  p:first-of-type {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    color: #383737;
    margin: 1.2rem 0 1rem;
  }

  .priceRatingContainer {
    margin: 2rem 0;

    div:first-of-type {
      display: flex;
      align-items: center;
      justify-content: start;

      .priceBox {
        font-size: 2.4rem;
      }

      .ratingBox {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 1.5rem;
        background-color: #60a4871a;
        padding: 1.2rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #6f6f6f;

        div:first-of-type {
          gap: 0.2rem;
        }

        div:nth-of-type(2) {
          border-left: 1px solid #c0c0c0;
          padding-left: 1rem;
        }
      }

      .pincodeBox {
        display: grid;
        width: 35%;
        grid-template-columns: 1fr 1fr;

        border: 1px solid #6f6f6f33;
        border-radius: 0.4rem;
        overflow: hidden;
        margin-left: auto;

        div:first-of-type {
          #pincode {
            height: 100%;
            width: 100%;
            padding: 1.2rem;
            border: none;
            font-size: 1.4rem;
          }
        }

        div:nth-of-type(2) {
          button {
            width: 100%;
            height: 100%;
            border: none;
            background-color: #ad3f380d;
            color: #ad3f38;
          }
        }
      }
    }
  }
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.product_details_description {
  border-top: 1px dashed black;
  padding: 2.5rem 0;

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

    list-style: none;
    margin: 2rem 0;
    li {
      padding: 1rem 0;
      & > div:first-of-type {
        font-size: 1rem;
        color: #6f6f6f;
        margin-bottom: 0.5rem;
      }
      & > div:nth-of-type(2) {
        font-size: 1.4rem;
      }
      & > .bottomLine {
        border-bottom: 1px solid #f4f4f4;
        width: 50%;
        height: 1rem;
      }
    }
  }
}

.product_details_userInputs {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  gap: 1.5rem;
  font-size: 2rem;

  & div:nth-of-type(2) > button,
  & div:nth-of-type(3) > button {
    padding: 1.5rem 2.5rem;
    width: 100%;
    border: none;
    border-radius: 0.4rem;
  }
  & div:nth-of-type(2) > button {
    background-color: #ad3f38;
    color: white;

    &:hover {
      background-color: #6d001d;
    }
  }
  & div:nth-of-type(3) > button {
    background-color: white;
    color: #60a487;
    border: 1.5px solid #60a48763;

    &:hover {
      background-color: #60a487;
      color: white;
    }
  }

  .productQuantityCounter_container {
    border-radius: 0.4rem;
    background-color: #f4f4f4;
    & > button {
      padding: 0 1.5rem;
      border: none;
      background-color: transparent;
      color: #6f6f6f;
      font-size: 2rem;
    }
    & div:first-of-type {
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.tabView_container {
  .p-tabview-nav {
    gap: 3rem;
    border-bottom: none;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #383737;
    border-bottom: 2px solid #383737;
    padding-bottom: 1rem;
  }
  /* .p-tabview .p-tabview-nav li.p-unselectable-text .p-tabview-nav-link {
    border-bottom: none;
  } */

  .p-tabview .p-tabview-nav li {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .p-tabview-selected {
    color: red;
  }
  & > div:first-of-type {
    flex-direction: column;
    align-items: start;
  }
}
.p-breadcrumb {
  border: none;
}
