.slideshow {
  display: flex;
  height: 96rem;
}

.thumbnails-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100px;
  height: 100%;

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}

.slideshow-thumbnails {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.slideshow-thumbnails.active {
  opacity: 1; /* Highlight the active thumbnail */
}

#slideshow-items-container {
  flex-grow: 1;
  width: 60rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 1440px) {
  .slideshow {
    flex-direction: column-reverse;
  }

  .thumbnails-container {
    flex-direction: row !important;
    overflow-x: scroll;
    height: 100px;
    width: 100%;
    gap: 1rem;
    margin: 1rem 0;
  }
  #slideshow-items-container {
    width: auto !important;
  }
}
@media screen and (max-width: 1024px) {
  #slideshow-items-container {
    height: 80vh;
  }

  #slideshow-items-container {
  }
  .slideshow {
    /* height: 50vh; */
  }
}
