.ant-picker-input {
  padding: 1rem;
  width: 50% !important;
}

.ant-picker-range {
  background-color: #f0f0f0;
  border: none;
}

.ant-picker-active-bar {
  background-color: #ad3f38 !important;
}
.ant-picker-outlined:focus-within {
  box-shadow: 0 0 2px #6f6f6f33;
}

.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:last-child {
  display: none !important;
}

.ant-picker-panel-container,
.ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}
