.collection_container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5%;
  gap: 3.8rem;
}

.collection_container > div {
  width: 28vw;
  min-width: 30rem;
  height: 60vh;
  position: relative;

  &:hover .collection_descriptionCard {
    visibility: visible;
  }
}

.collection_container > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.collection_descriptionCard {
  position: absolute;
  padding: 2rem;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 55;
  color: white;
  width: 80%;
  display: none;
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
}

.collection_descriptionCard div:first-of-type {
  width: 20%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin: 1rem 0;
}

.collection_descriptionCard h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.collection_descriptionCard p {
  font-size: 1.4rem;
  margin: 1rem 0;
}
.collection_descriptionCard > div:last-of-type {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .collection_container {
    flex-direction: column;
    gap: 2rem;
  }
  .collection_container > div {
    flex-grow: 1;
    width: 100%;
    height: 50vh;
  }
}
