.profile-container {
  margin-left: 70px;
  margin-bottom: 2rem;
  padding-top: 2%;
}

.profile-image-container {
  margin-bottom: 30px;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.profile-fields {
  display: flex;
  gap: 25px;
}

.profile-field {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  height: 65px;
  width: 324px;
  border: 1px solid rgba(244, 244, 244, 1);
}

.profile-field-label {
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  color: #6f6f6f;
  margin-bottom: 4px;
}

.profile-input {
  all: unset;
  font-size: 14px;
  color: #515050;
  font-weight: 400;
  width: 648px;
}

.profile-buttons {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 20px;
}

/* Buttons */
.edit-button {
  width: 102px !important;
  height: 35px !important;
  padding: 9px 20px !important;
  color: #73af96 !important;
  border-color: #73af96 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-align: left;
  text-transform: capitalize !important;
}

.edit-button:hover {
  color: #ffffff !important;
  border-color: #60a487 !important;
  background-color: #60a487 !important;
}

.save-button {
  width: 102px !important;
  height: 35px !important;
  padding: 9px 20px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-align: left !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  background-color: rgba(173, 63, 56, 1) !important;
  border: none; /* Add this if the button has a border by default */
}

.save-button:hover {
  color: #ffffff !important;
  border-color: #6d001d !important; /* You can add this if you want to show a border on hover */
  background-color: #6d001d !important;
}

/* MEDIA QUERIES */

/* Tablet View (768px - 1024px) */
@media screen and (max-width: 958px) {
  .profile-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .profile-image-container {
    display: flex;
    justify-content: center;
  }

  .profile-form {
    width: 100%;
  }
  .profile-fields {
    flex-direction: column;
    gap: 15px;
  }

  .profile-field {
    width: 100%; /* Full width of the container */
    padding: 12px;
  }

  .profile-input {
    width: 100%;
    font-size: 13px;
  }
}

/* Mobile View (max-width: 767px) */
@media screen and (max-width: 767px) {
  .profile-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .profile-image-container {
    display: flex;
    justify-content: center;
  }

  .profile-image {
    width: 90px;
    height: 90px;
  }

  .profile-fields {
    flex-direction: column;
    gap: 10px;
  }

  .profile-field {
    width: 100%;
    padding: 10px;
  }

  .profile-input {
    width: 100%;
    font-size: 12px;
  }

  .profile-buttons {
    /* flex-direction: column; */

    margin-top: 15px;
  }

  .edit-button,
  .save-button {
    width: 80px !important;
    height: 30px !important;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 425px) {
  .profile-buttons {
    & > button {
      flex-basis: 50%;
    }
  }
}
