@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply base styles */
html {
  font-size: 62.5%;
  scrollbar-width: thin;
  /* scrollbar-color: #6d001d transparent; */
}

:root {
  font-family: "Lato", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ------------------------------------------------------ Theme colors ------------------------------------------ */

  --primary: #6d001d;
  --secondary: #6d001d;

  --semantics-danger: rgba(230, 39, 39, 1);
  --semantics-success: rgba(12, 183, 18, 1);
  --semantics-warning: #febd5b;
  --semantics-flash: rgba(20, 110, 216, 1);
  --semantics-caution: rgba(255, 100, 11, 1);
}
