.navbar_container {
  position: fixed;
  top: 0;
  z-index: 99999;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3%;
  background-color: rgba(109, 0, 29, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  & > figure {
    margin-right: 3%;
  }

  & > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    display: none;
  }

  & > div:nth-of-type(1) {
    display: flex;
    align-items: center;
  }

  .navLinks {
    display: flex;
    /* justify-content: center; */
    align-items: center;

    & > li {
      list-style: none;
      font-size: 1.4rem;

      & > a {
        text-decoration: none;
        color: rgba(181, 111, 130, 1);

        &:hover {
          color: rgba(255, 255, 240, 1);
        }
      }
    }
  }
}

#cartIcon_container {
  margin-inline: 1.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.categoryDropdown {
  background-color: white;
  position: absolute;
  z-index: 999;
}

.underline{
  text-decoration: none;
  
}

.categories-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  gap: 40px;
  margin: 2rem;

  #category {
    & > .category-header h1 {
      font-size: 1.4rem;
      color: #60a487;
      font-weight: bold;
      margin-bottom: 1.2rem;
      font-weight: 600;
    }

    & > section:first-of-type {
      display: block;
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-gap: 4rem;
      -webkit-column-gap: 4rem;
      -moz-column-gap: 4rem;

      & > div {
        margin-bottom: 3rem;
        break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;

        div:last-of-type {
          height: 1px;
          width: 3.2rem;
          background-color: rgba(111, 111, 111, 0.2);
        }
      }
    }

    h2 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: 500;
      color: #383737;
    }
    ul {
      list-style: none;
      padding: 0;

      & > li {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #6f6f6f;
        cursor: pointer;
        width: max-content;

        position: relative;
        &:hover {
          color: rgba(96, 164, 135, 1);

          .onHoverRightArrow {
            visibility: visible !important;
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.onHoverRightArrow {
  position: absolute;
  top: 50%;
  right: -1.5rem;
  transform: translateY(-35%);
  visibility: hidden;
  margin-left: 0;
  transition: margin-left 0.2s ease-in;
}

.smallNavMenuSection {
  /* background-color: #ad3f38; */
  width: 15.2rem;
}

.hide {
  display: none;
}

.mobileNavClose {
  display: none;
}

.mobileNavOpen {
  display: flex;
}

/* --------------------------------------------------------SEARCH BAR---------------------------------------------------------------------------------- */

.form button {
  border: none;
  background: none;
  color: rgba(181, 111, 130, 1);
}

.form {
  --timing: 0.3s;
  --minWidth-of-input: 22rem;
  --height-of-input: 6.5vh;
  --border-height: 2px;
  --input-bg: transparent;
  --border-color: #6d001d;
  --after-border-radius: 1px;
  position: relative;
  min-width: var(--minWidth-of-input);
  width: 100%;
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding: 0.5rem 5%;
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}

.input {
  position: static;
  font-size: 1.4rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0;
  color: white;
}

.input::placeholder {
  color: rgba(181, 111, 130, 1);
  font-size: 1.4rem;
}

.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form:focus-within:before {
  transform: scale(1);
}

.reset {
  position: absolute;
  right: 0rem;

  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form svg {
  width: 17px;
  margin-top: 3px;
}

/* -------------------------------------------------------------------------IMAGE SETTING HOVER--------------------------------------------------------------------------- */
.profileBox {
  background-color: white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  margin: 0.8rem;
  object-fit: cover;
}

.profileBox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  top: calc(100% + 0px);
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 175px;
  font-family: Arial, sans-serif;
}

/* .profile-dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
} */

.profile-dropdown p {
  margin: 0;
  padding: 0;
}

.profile-dropdown p:first-child {
  font-family: Lato;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.profile-dropdown p:nth-child(2) {
  font-size: 14px;
  color: #666666;
  margin-bottom: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

/* Hover effect for the mobile number */
.profile-dropdown p:nth-child(2):hover {
  color: #000000;
  transform: scale(1.03);
  font-weight: 600;
}

.profile-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e0e0e0;
}

.profile-dropdown li {
  padding: 12px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #6f6f6f;
  border-bottom: 1px solid #e0e0e0;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.profile-dropdown li:last-child {
  border-bottom: none;
}

.profile-dropdown li:hover {
  color: #000000;
  transform: scale(1.03);
  font-weight: 600;
}
.profile-dropdown a {
  text-decoration: none;
  color: inherit;
}

.profile-dropdown a:hover {
  color: #000000;
  transform: scale(1.03);
  font-weight: 600;
}

.collapse-icon {
  visibility: hidden;
}

/* ################## */

/* Responsive Styles */
@media (max-width: 768px) {
  .categories-container {
    gap: 8px;
  }

  .category-header {
    font-size: 16px;
    padding: 10px 12px;
  }

  .collapse-content {
    padding: 6px 12px;
  }

  #subcategoryLinks {
    font-size: 13px;
  }
}
/* ################## */

@media screen and (max-width: 1580px) {
  .navLinks {
    margin-right: auto;
    gap: 3rem;
  }
}
@media screen and (max-width: 1209px) {
  #category {
    width: 100%;
  }

  .collapse-icon {
    visibility: visible;
  }

  #category {
    & > section:first-of-type {
      display: flex;
      flex-wrap: wrap;
      column-count: unset !important;
      -webkit-column-count: unset;
      -moz-column-count: unset;
      column-gap: unset;
      -webkit-column-gap: unset;
      -moz-column-gap: unset;

      & > div {
        margin-bottom: 3rem;
        break-inside: unset !important;
        -webkit-column-break-inside: unset;
        -moz-column-break-inside: unset;
      }
    }
  }

  /* ############################### */
  .categories-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Header Section */
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 16px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .category-header:hover {
    background-color: #f1f1f1;
  }

  .collapse-icon {
    transition: transform 0.3s ease;
  }

  .collapse-icon.open {
    transform: rotate(180deg);
  }

  /* Collapsible Section */
  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
    opacity: 0;
    padding: 0;
  }

  .collapse-content.show {
    max-height: 60vh; /* Arbitrary value to ensure content is visible */
    opacity: 1;
    overflow: scroll;
    padding: 8px 16px;
    background-color: white;
  }

  /* Subcategories Styling */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #subcategoryLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  #subcategoryLinks:hover {
    color: #60a487;
  }

  .dividerLine {
    height: 1px;
    background-color: #ddd;
    margin: 8px 0;
  }
  /* ############################### */

  .categoryDropdown {
    background-color: unset;

    position: unset;
    width: 100%;
  }

  .navbar_container figure {
    margin-right: auto;
    margin-left: 0;
  }

  .navLinks {
    flex-direction: column;
    height: 85vh;
    overflow-y: scroll;
    position: absolute;
    top: 10vh;
    right: 0%;
    padding: 2rem 0;
    width: 80%;

    max-width: 40rem;
    z-index: 999;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #60a486;
    & > li {
      width: 100%;
      text-align: left;
      & > a {
        color: white !important;
      }
    }
  }

  .navbar_container {
    padding: 1rem 5%;
  }

  .nav-mobile {
    background: transparent;
    display: block !important;
    margin-right: 0 !important;
  }

  #navbar-toggle {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 99;
    background-color: transparent;
    border: none;
  }
  #navbar-toggle span,
  #navbar-toggle span:before,
  #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 24px;
    background-color: #b56f82;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #navbar-toggle span:before {
    top: -8px;
  }
  #navbar-toggle span:after {
    bottom: -8px;
  }
  #navbar-toggle.active span {
    background-color: transparent;
  }
  #navbar-toggle.active span:before,
  #navbar-toggle.active span:after {
    top: 0;
  }
  #navbar-toggle.active span:before {
    transform: rotate(45deg);
  }
  #navbar-toggle.active span:after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 650px) {
  .navbar_container > div:nth-of-type(1) > div:first-of-type {
    position: absolute;

    top: 10vh;
    left: 0;
    z-index: 800;
    width: 100%;
  }

  .form {
    background-color: white;
    & > input {
      color: black;
    }

    & > button > svg path {
      stroke: #6d001d;
    }
  }
  .reset {
    right: 1rem;
  }
  .navbar_container > div:nth-of-type(1) form {
    border-radius: 0;
    width: 100%;
  }

  .navLinks {
    top: 16.5vh;
  }

  .navWithoutSearchBar_list {
    top: 10vh !important;
  }
}

@media screen and (max-width: 375px) {
  /* .navbar_container {
    & > div:nth-of-type(2) {
      margin-left: 0;
    }
  } */
  .navbar_container figure {
    & > a img {
      width: 12rem;
    }
  }
}
