.admin_navbar {
  height: 10vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > article:first-of-type {
    display: flex;
  }
  & > article:nth-of-type(2) {
    display: flex;
    gap: 1rem;

    & > div:first-of-type {
      background-color: #5f3dc326;
      padding: 1rem;
      border-radius: 0.4rem;
    }
  }
}
