.admin_navbar {
  height: 10vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;

  & > article:first-of-type {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  & > article:nth-of-type(2) {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .admin_navbar {
    & > article:nth-of-type(2) > input:first-of-type {
      position: absolute;
      top: 10vh;
      left: 0;
      width: 95vw;
      margin-inline: 1rem;
    }
  }
}
