.blogPage_container {
  display: flex;
  background-color: #f4f4f4;
  padding: 2% 3%;
  height: 88vh;

  section:first-of-type {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .inputContainer {
      position: relative;
      width: 100%;
      height: 5rem;
      margin-bottom: 2rem;

      input {
        height: 100%;
        width: 100%;
        border-radius: 4rem;
        padding: 2rem 4rem;
        border: 1px solid rgba(111, 111, 111, 0.2);
        background-color: #f4f4f4;
        font-size: 1.4rem;

        &::placeholder {
          color: #9f9f9f;
          font-size: 1.4rem;
        }
      }

      &::after {
        content: url(../../assets/images/searchIcon.svg);
        stroke: rgba(96, 164, 135, 1);
        position: absolute;
        top: 50%;
        left: 1.7rem;
        transform: translateY(-50%);
      }
    }

    .blogFilter_container {
      width: 100%;
      display: flex;
      height: 5rem;
      gap: 2rem;

      justify-content: space-between;
    }
  }

  section:nth-of-type(2) {
    overflow-y: scroll;
    scrollbar-width: none;
    flex-basis: 65%;

    & > div:first-of-type {
      display: grid;
      gap: 1rem;
      margin: 0 2rem;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
}

.topBlogs_container {
  margin-top: auto;

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #383737;
  }

  article {
    padding: 1.5rem;
    background-color: #fcfcfc;
    & > div {
      padding: 1.5rem 0.5rem;
      border-bottom: 1px solid #e8e8e8;

      h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 400;
      }
      p {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.1rem;
      }
    }
  }
}
