.about_container {
  background-color: #f4f4f4;
  height: auto;

  & > div:first-of-type {
    overflow: hidden;
    height: 90vh;
  }
}

.about_heroBanner {
  background-image: url(../../assets/images/aboutBanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  &:hover {
    transform: scale(1.2);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.3s ease-in-out;

    & > div {
      transition: 0.4s ease-in-out;
      transform: scale(2);
    }
  }
}

.about_heroBanner > div {
  margin: 5%;
  background-color: rgba(56, 55, 55, 0.4);
  font-family: "Kalnia", serif;
  padding: 3.6rem 3.2rem;
  height: max-content;
}
.about_heroBanner > div h1 {
  font-size: clamp(3.6rem, 8vw, 4.8rem);
  font-weight: 400;
  color: white;
}

.about_sec-1 {
  padding: 4.3rem 5%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  gap: 4.4rem;
}

.about_sec-1 figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_sec-1 > div h2,
.about_sec-3 > h2:first-of-type {
  font-weight: 300;
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}
.about_sec-1 > div p,
.about_sec-3 > p:first-of-type {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.about_sec-3 > h2:first-of-type,
.about_sec-3 > p:first-of-type {
  text-align: center;
  margin: 1% 20%;
}

.about_sec-3 > p:first-of-type {
  margin-bottom: 3%;
}

.about_sec-1 figure {
  display: flex;
  grid-row: 1/3;
  grid-column: 1/2;
}

.about_sec-1 > div:nth-of-type(1) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.about_sec-1 > div:nth-of-type(2) {
  background-color: rgba(96, 164, 135, 1);
  padding: 2.5rem;
  color: rgba(244, 244, 244, 1);
  grid-row: 2/3;
  grid-column: 2/3;
}

.about_sec-4 {
  margin: 5%;
}
.about_sec-4 > h2 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 300;
  margin: 1rem auto 4rem;
}

.about_sec-2 {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  margin: 2% 5%;
  position: relative;
  overflow: hidden;

  &::after {
    content: url(../../assets/images/designPattern_2.png);
    position: absolute;

    left: 0%;
    height: 100%;
  }

  &::before {
    content: url(../../assets/images/designPattern_2.png);
    position: absolute;
    right: 0%;
    transform: scaleX(-1);
    height: 100%;
  }
}

.about_sec-2 > div:first-of-type,
.about_sec-2 > div:nth-of-type(2) {
  width: 70%;
  padding: 2.6rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.about_sec-2 > div:first-of-type {
  margin-left: auto;
}

.about_sec-2 > div:nth-of-type(2) {
  margin-right: auto;
}

.about_sec-2 > figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_sec-2 > div p,
.about_sec-2 > div h2 {
  color: rgba(56, 55, 55, 1);
  font-weight: 300;
}

.about_sec-2 > div h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.about_sec-2 > div p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 300;
  color: #383737;
}

.about_sec-6 {
  height: 75vh;
  background-image: url(../../assets/images/aboutImg_last.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5%;
  color: white;
}

.about_sec-6 div {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  background: rgba(0, 0, 0, 0.7);
  padding: 4rem;
}
.about_sec-6 div h2 {
  font-size: 3rem;
}
.about_sec-6 div p {
  font-size: 2rem;
  margin: 2rem 0;
}

.about_sec-6 div button {
  width: max-content;
  font-size: 1.4rem;
  padding: 2rem;
  border: none;
  background-color: #ad3f38;
  border-radius: 0.6rem;
  color: white;

  &:hover {
    background-color: #6d001d;
  }
}

.about-sec-5 {
  background-color: #f4f4f4;
  padding: 0% 5% 5%;
}

.about-sec-5 > div:first-of-type {
  margin-bottom: 1.5rem;
  color: #6f6f6f;
  font-size: 1.4rem;
}

.about-sec-5 > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
.about-sec-5 div:nth-of-type(2) > div {
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #383737;
  width: 28vw;
  min-width: 30rem;
}
.about-sec-5 div:nth-of-type(2) > div h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
}
.about-sec-5 div:nth-of-type(2) > div p {
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .about_sec-2 {
    display: grid;
    grid-template-columns: 1fr;

    &::after,
    &::before {
      display: none;
    }
  }
  .about_sec-2 > div:first-of-type {
    order: 2;
    gap: 2rem;
    width: 100%;
  }
  .about_sec-2 > div:nth-of-type(2) {
    order: 1;
    width: 100%;
  }
}

@media screen and (max-width: 1195px) {
  .about_sec-1 figure {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .about_sec-1 > div:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .about_sec-1 > div:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .about_sec-3 > h2:first-of-type,
  .about_sec-3 > p:first-of-type {
    margin: 1% 10%;
  }
  .about-sec-5 > div:nth-of-type(2) {
    flex-direction: column;
    gap: 2rem;
    div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about_sec-6 div {
    width: 100%;
    margin: 2rem;
  }
}

@media screen and (max-width: 810px) {
  .about_sec-1 figure {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .about_sec-1 > div:nth-of-type(1) {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .about_sec-1 > div:nth-of-type(2) {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .about_sec-1 > div p,
  .about_sec-3 > p:first-of-type,
  .about_sec-2 > div:first-of-type > div p {
    font-size: 1.4rem;
  }

  .about_sec-3 > h2:first-of-type,
  .about_sec-3 > p:first-of-type {
    margin: 5%;
  }
}

@media screen and (max-width: 768px) {
  .about_heroBanner {
    padding-top: 15%;
  }

  .about_heroBanner > div {
    padding: 1rem 2rem;
  }

  .about-sec-5 div:nth-of-type(2) > div h2 {
    font-size: 1.8rem;
  }

  .about_heroBanner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: top;
    &:hover {
      transform: none;
      filter: none;

      & > div {
        transform: none;
      }
    }
  }
  .about_container {
    & > div:first-of-type {
      height: max-content;
    }
  }
}

@media screen and (max-width: 425px) {
  .about_sec-6 div h2 {
    font-size: 2.4rem;
  }

  .about_sec-6 div p {
    font-size: 1.6rem;
  }

  .about_sec-6 div button {
    padding: 1rem;
  }
  .about-sec-6 div {
    margin: 1rem;
  }
}
